extends ./base.pug
block content
  .container
    h2|Lista Twoich konwersacji
    span Konwersacje z najnowszymi wiadomości zawsze są na górze
    .row
      if conversations
        ul.list-group
          each conversation, index in conversations
            li.list-group-item
              a(href=`../conversation/${conversation._id}`)
                |#{conversation._id}
