nav.navbar.navbar-default.navbar-static-top
    div.container
        .navbar-header
          a.navbar-brand(href="/")
            img(src="/images/pepe.png")
          a.navbar-brand(href='/admin/confessions') Admin Panel [#{user.username}]
        #navbar.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='/admin/confessions') Wyznania
              li
                a(href='/admin/replies') Odpowiedzi
              li
                a(href='/admin/messages') Wiadomości wysłane do Ciebie
              li
                a(href='/admin/mods') Moderatorzy
              li
                a(href='/admin/logout') Wyloguj
