extends ./base.pug
block content
  p
    |Na tej stronie mozesz przejrzec wyznania dodane przez Ciebie. Znajdziesz tutaj wszystkie potrzebne infomacje.
    b
      |Wyznania zapisane są w pamięci twojej przeglądarki. Mozesz je
      a(onclick="exportConfessions()")
        |  wyeksportowac
      |  i
      a(onclick="importConfessions()")
        |  zaimportowac
      |  albo
      a(onclick="clearConfessions()")
        |  wyczyścić wszystkie.
  table.table.table-bordered.table-striped
    thead
      tr
        th ID wyznania
        th Kod autoryzacyjny
        th Link do strony z informacjami
block script
  script(type="text/javascript").
    if(localStorage.confessions){
    var confessionList = JSON.parse(localStorage.confessions);
    var tables='';
    for(var i in confessionList){
      tables+=`<tr><td>${confessionList[i]._id}</td><td>${confessionList[i].auth}</td><td><a href="confession/${confessionList[i]._id}/${confessionList[i].auth}">KLIK</a></td></tr>`;
    }
    $('table tr:last').after(tables);
    }
    function exportConfessions(){
      prompt("Zapisz ponizszy ciag znakow aby w przyszlosci moc go przywrocic", localStorage.confessions);
    }
    function importConfessions(){
      var data = prompt('Wklej wyeksporotwany ciag znakow', '');
      if(data)localStorage.setItem('confessions', data);
      location.reload();
    }
    function clearConfessions(){
      localStorage.setItem('confessions', '[]');
      location.reload();
    }
